body{
   font-family: 'Roboto', sans-serif;

}




/*** nav bar ***/
.nav-item{

    font-size:15px;
    text-transform:uppercase;

}

.dropdown-item{

    font-size:15px;
    text-transform:uppercase;


}


/*** footer ***/
.my_footer{
     background-color:yellow;
     margin-top:50px;

     font-size:20px;

}
/*** category ***/
.rowcls{
    padding-top:15px;
}

.rowcls .mx-auto{
     color:#0000;
     font-size:15px;
}

.my_image{
  height:auto;
  width:100%;
  padding:30px;

}


.title{
   font-size:20px;
   padding-top:5px;
   text-transform:uppercase;
}

/*** product ***/
.pro-title{
    font-family:arial;
    text-transform:capitalize;
}
.pro-text{
    font-size:18px;

}
.pro-head{
  font-size:20px;
}
.pro-image{
    width:350px;
    height:350px;

}

/*** cart ***/
.cart-head{
  font-family:arial;
  text-transform:capitalize;
  text-weight:normal;
  letter-spacing:2px;

}

.cart-text{
   text-transform:capitalize;
  text-weight:normal;
  letter-spacing:2px;

}
.cart-image{
    width:150px;
    height:150px;
    object-fit:fit;
}
.pro-title{
     font-family:futara;
}
.pro-de{
    font-family:gill sans;
}
.pro-de-he1{
  letter-spacing:.5px;
  font-weight:normal;
  text-transform:capitalize;
  margin-left:5px;
}

.cart-icons{
  width:5px;
  height:3px;
}
