{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
     {{prodet.name|truncatewords:155}}
{% endblock %}

{% block title %}
 {% if prodet %}
     {{prodet.name}}
 {% endif %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="pro-head">
       <p> <a href="{% url 'shopapp:allproduct' %}">Home</a>|<a href="{{prodet.cate.get_url}}">{{prodet.cate}}</a>|{{prodet.name}} </p>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">

            <img class="pro-image" src="{{prodet.image.url}}" alt="{{prodet.name}}">
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 ">
             <h1 class="pro-title">{{prodet.name}}</h1>
             <p>Rs.{{prodet.price}}</p>
             <p class="pro-text text-justify">{{prodet.description}}</p>
              {% if prodet.stock <= 0 %}
                 <p><b>out of stock</b></p>
              {% else %}
                 <a class="btn btn-secondary" href="{% url 'cartapp:add_cart' prodet.id %}">Add to cart</a>
              {% endif %}

         </div>
        </div>
</div>


{% endblock %}

